# Import libraries

In [1]:
import sys
from pathlib import Path
import pandas as pd

# Import modules

In [2]:
SCRIPT_DIR = Path().resolve().parent
sys.path.append(str(SCRIPT_DIR))

from KuehnEtAl2023 import data

# Load coefficients

In [3]:
COEFFS = data.load_data("strike-slip")
COEFFS.head()

,model_number,c1,c2,c3,alpha,beta,gamma,"s_m,s1","s_m,s2","s_m,s3",s_s1,s_s2,lambda
0,1,0.571281,2.88224,1.43178,0.793664,0.962929,6.38465,0.445352,-0.502571,7.42490,0.570166,1.021240,0.153139
1,2,0.487485,2.70411,1.80735,0.760744,0.933869,6.17134,0.542138,-0.667492,6.12143,0.544760,1.212370,0.167483
2,3,0.594512,2.93232,1.29003,0.782180,0.967980,5.99692,0.580116,-0.820790,6.57762,0.543312,1.262670,0.157091
3,4,0.586764,2.87923,1.43405,0.786636,0.950955,6.29399,0.550639,-1.370770,6.46497,0.568229,1.059760,0.170254
4,5,0.658214,2.58623,1.22370,0.797624,0.994996,6.19362,0.610418,-0.911735,6.50248,0.563378,0.883568,0.164652

In [4]:
COEFFS = data.load_data("reverse")
COEFFS.head()

,model_number,c1,c2,c3,alpha,beta,gamma,"s_m,r",s_r1,s_r2,lambda
0,1,0.411004,1.094880,1.08219,0.154488,0.672872,1.71703,0.554436,0.610221,0.479793,0.112484
1,2,0.272345,0.972553,1.42719,0.137649,0.819931,1.53388,0.433911,0.600859,0.327267,0.123106
2,3,0.197649,0.895082,1.36712,0.120595,0.607403,1.51676,0.605854,0.621306,0.451824,0.125725
3,4,0.405698,1.012650,1.18501,0.163537,0.875500,1.39841,0.411497,0.626298,0.319640,0.127909
4,5,0.432768,0.947801,1.07409,0.156477,0.896627,1.38463,0.395146,0.633340,0.335307,0.132765

In [5]:
COEFFS = data.load_data("normal")
COEFFS.head()

,model_number,c1,c2,c3,alpha,beta,gamma,sigma,"s_m,n1","s_m,n2","s_m,n3",lambda
0,1,0.989897,3.77854,0.171386,0.315224,0.995683,4.54841,0.645501,0.770873,0.461585,6.42497,0.104270
1,2,0.943517,3.28386,0.742584,0.304479,0.996037,4.24273,0.630487,0.487422,0.094355,3.91673,0.117633
2,3,0.777065,2.93692,1.059130,0.299194,0.984896,4.36894,0.629253,0.623343,0.349198,7.59778,0.093796
3,4,0.749559,2.42978,0.937166,0.299286,0.994386,4.19629,0.625684,0.865032,0.474660,8.13707,0.134491
4,5,0.926462,5.16411,0.496343,0.302935,0.987535,4.26258,0.645422,0.903968,0.658501,6.26729,0.112326